/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #333;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    color: #fff;
    background: #1e7dee;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #333;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1e7dee;
    background: #efefef;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1e7dee;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1e7dee;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */





/* ---------------------------------------------------
    Dashboard Front Page STYLE
----------------------------------------------------- */

html, body { background-color: #e9ecef }
.bg-light { background-color: #fff !important }
.dots-green { background-color: #28a745 }
.dots-blue { background-color: #2689ff }
.dots-orange { background-color: #f5a623}
.dots-red { background-color: #ff5267 }
.dots {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    right: 50%; top: 10px;
    position: absolute;
}
/* Main Report */
.main-report {
    border-radius: 15px;
    padding: 20px;
    width: 60%;
}
.main-report h1 {
    margin: 0;
}
.main-report small {
    font-size: 12px;
    color: #444;
}
.btn-invoices {
    font-weight: 500;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #2689ff;

    height: 50px;
}
.btn-invoices span:nth-child(1) {
    font-size: 12px;
    background: #1e7dee;
    padding: 8px;
    margin-right: 5px;
    border-radius: 50%;
}
.btn-invoices:hover {
    color: #fff;
}

/* New Invoices Section */
div.new-invoices div.row ul,
div.about-package div.row ul,
div.new-payment div.row ul {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 20px 20px 0 0;
}
div.new-invoices div.row ul li,
div.about-package div.row ul li,
div.new-payment div.row ul li,
div.more div.row ul li {
    padding: 0 10px 0;
}
div.new-invoices div.row ul li a,
div.about-package div.row ul li a,
div.new-payment div.row ul li a,
div.more div.row ul li a {
    color: #333;
}
div.new-invoices div.row ul li a.active,
div.about-package div.row ul li a.active,
div.new-payment div.row ul li a.active,
div.more div.row ul li a.active {
    background-color: #fff;
    color: #007bff;
    font-weight: bold;
}
div.new-invoices div.tab-content div.row div.table-responsive,
div.about-package div.tab-content div.row div.table-responsive,
div.new-payment div.tab-content div.row div.table-responsive,
div.more div.tab-content div.row div.table-responsive {
    border-radius: 0 20px 20px 20px;
}
div.new-invoices div.table-responsive,
div.about-package div.table-responsive,
div.new-payment div.table-responsive,
div.testimoni div.table-responsive,
div.more div.table-responsive {
    font-weight: bold;
    color: #333;
    background-color: #fff;

    padding: 20px 40px;
    border-radius: 20px;
}
div.new-invoices div.table-responsive thead th,
div.new-payment div.table-responsive thead th,
div.testimoni div.table-responsive thead th,
div.more div.table-responsive thead th {
    font-weight: 500;
    color: #b3b7c1;
}
div.new-invoices div.table-responsive th,
div.new-invoices div.table-responsive td,
div.new-payment div.table-responsive th,
div.new-payment div.table-responsive td,
div.testimoni div.table-responsive th,
div.testimoni div.table-responsive td,
div.more div.table-responsive th,
div.more div.table-responsive td {
    padding: 16px;
}
div.new-invoices div.table-responsive th h6,
div.new-invoices div.table-responsive td h6,
div.new-invoices div.table-responsive td span,
div.new-payment div.table-responsive th h6,
div.new-payment div.table-responsive td h6,
div.new-payment div.table-responsive td span,
div.testimoni div.table-responsive th h6,
div.more div.table-responsive th h6,
div.more div.table-responsive td h6 {
    font-size: 14px;
}

/* Changes Striped Core to Custom */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafc;
}
/* End Changes */

div.new-invoices img.avatar,
div.new-payment img.avatar,
div.testimoni img.avatar,
div.more img.avatar {
    width: 30px;
    margin-right: 15px;
    border-radius: 50px;
    top: 5px;
    position: relative;
}
div.new-invoices span.badge,
div.new-payment span.badge {
    padding: 8px 15px;
    border-radius: 50px;
}
span.badge.blue {
    background-color: #85c3ec87;
    color: #2980b9;
}
span.badge.orange {
    background-color: #fef5e8;
    color: #f5a623;
}
span.badge.green {
    background-color: #ecf5e4;
    color: #7ed321;
}
span.badge.red {
    background-color: #fae9ec;
    color: hsl(357, 99%, 68%);
}
div.new-invoices small.notif-pending {
    color: #007bff;
}
/* Packages */
div.packages div.row:nth-child(2) {
    display: flex;
}
div.packages div.row:nth-child(2) div.col-sm-4 {
    flex: 1;
}
div.packages div.card {
    padding: 10px 20px;
    height: 100%;
    border: none;
    border-radius: 15px;

    position: relative;
}
.disabledbutton {
    pointer-events: none !important;
    opacity: 0.7;
}
div.packages div.card div.card-header {
    background-color: #fff;
    border: none;
    font-size: 14px;
}
div.packages div.card div.card-header span:nth-child(1) {
    color: #ff8282;
}
div.packages div.card div.card-header span.status {
    font-weight: bold;
    color: #007bff;
}
div.packages div.card div.card-header span.status.red {
    color: red !important;
}
div.packages div.card div.card-body {
    min-height: 300px;
}
div.packages div.card div.card-body p {
    font-weight: bold;
    font-size: 14px;
    color: #888;
}
div.packages div.card div.card-body div.price {
    position: absolute;
    right: 35px;
    bottom: 25px;
}
div.packages div.card div.card-body div.price h4 {
    color: #007bff;
}

/* ======== */
/* User Invoices & Jamaah Invoice */
/* ======== */
#user_invoice nav.address_page ol a i,
#jamaah_invoice nav.address_page ol a i,
#jamaah_package nav.address_page ol a i,
#more nav.address_page ol a i {
    font-size: 14px;
}
#user_invoice nav.address_page ol a.btn,
#jamaah_invoice nav.address_page ol a.btn,
#jamaah_package nav.address_page ol a.btn,
#more nav.address_page ol a.btn {
    padding: 5px 11px;
    margin-right: 15px !important;
    border-radius: 50%;
}
#user_invoice nav.address_page .breadcrumb,
#jamaah_invoice nav.address_page .breadcrumb,
#jamaah_package nav.address_page .breadcrumb,
#more nav.address_page .breadcrumb {
    background-color: #fff;
    border-radius: 10px;
}
#user_invoice nav.address_page .breadcrumb-item,
#jamaah_invoice nav.address_page .breadcrumb-item,
#jamaah_package nav.address_page .breadcrumb-item,
#more nav.address_page .breadcrumb-item {
    padding-top: 9px;
    font-weight: bold;
}
#user_invoice nav.address_page .breadcrumb-item a,
#jamaah_invoice nav.address_page .breadcrumb-item a,
#jamaah_package nav.address_page .breadcrumb-item a,
#more nav.address_page .breadcrumb-item a {
    color: #333;
    text-decoration: none;
}
#user_invoice nav.address_page .breadcrumb-item.active,
#jamaah_invoice nav.address_page .breadcrumb-item.active,
#jamaah_package nav.address_page .breadcrumb-item.active,
#more nav.address_page .breadcrumb-item.active {
    color: #007bff;
}
/* Profile Invoice */
#user_invoice .card,
#jamaah_invoice .card,
#variant_package .card,
#admin .card {
    border-radius: 15px;
    border: none;
}
#user_invoice .card-header,
#variant_package .card-header {
    background-color: #fff;
    padding: 25px 30px 0;
    border-radius: 15px;
    border-bottom: none;
}
#user_invoice .profile_invoice .card-header span i,
#variant_package div.card div.card-header span.float-left {
    color: #007bff;
}
#user_invoice .profile_invoice .card-header span:nth-child(2) i,
#variant_package div.card div.card-header span.float-right a span {
    background-color: #888;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
}
#user_invoice .profile_invoice .card-body ul li button {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px;
}
#user_invoice .profile_invoice .card-body ul li button.btn-outline-dark {
    border-color: #c5c5c5;
}
#user_invoice .profile_invoice .card-body ul li:nth-child(1) button i {
    color: #28a745;
    padding-right: 5px;
}
#user_invoice .profile_invoice .card-body ul li:nth-child(2) button i {
    color: #007bff;
    padding-right: 5px;
}
/* Jama'ah */
#user_invoice .jamaah_invoice .card-body {
    padding: 30px;
    padding-top: 30px;
}
#user_invoice .jamaah_invoice .card-body ul li.jamaah {
    padding: 15px;
}
#user_invoice .jamaah_invoice .card-body ul li a {
    text-decoration: none;
}
#user_invoice .jamaah_invoice .card-body ul li a div.media h5 {
    color: #333;
}
#user_invoice .jamaah_invoice .card-body ul li a div img,
#variant_package .jamaah_invoice .card-body ul li a div img {
    width: 60px;
}
#user_invoice .jamaah_invoice .card-body .progress {
    height: 10px;
    border-radius: 20px;
}
#user_invoice .jamaah_invoice .card-body .progress-bar {
    background-color: #007bff;
    font-size: 12px;
}
#user_invoice .jamaah_invoice .card-body .progress .progress-bar span {
    position: absolute;
    right: 40px;
    color: #002C6C;
}
#user_invoice .jamaah_invoice .card-body .progress .progress-bar i {
    position: absolute;
    right: 10px;
    color: #007bff;
}
/* Report Pembayaran */
.report_payment {
    border-radius: 5px;
}
.report_payment p i { color: #007bff; padding-right: 10px; }
.report_payment p {
    color: #333;
    padding: 5px 10px;
}

/* InvoiceUser */
.invoice_user_package .card-body .invoice {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    min-height: 220px;
}
.invoice_user_package .card-body div.row.mx-md-n3 {
    position: relative;
    top: 65px;
}
.invoice_user_package .card-body .addon {
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 15px;
    min-height: 220px;
}
.invoice_user_package .card-body .addon .add {
    position: absolute;
    left: 0; bottom: 0; right: 0; top: 35%;
}
.invoice_user_package .card-body .addon .add i {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.invoice_user_package .card-body .addon .add strong {
    color: #007bff;
}

/* Riwayat Pembayaran */
.payment_history .card-body table tbody tr td {
    text-align: center;
}
.payment_history .card-body table tbody tr td:nth-child(2) {
    text-align: left;
}
.payment_history .card-body table tbody tr td span.add i {
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    border-radius: 20px;
}
.payment_history .card-body table tbody tr td span.add i.yellow {
    background-color: #f5a623;
}
.payment_history .card-body table tbody tr td .yellow {
    color: #feb02e;
}

/* Jamaah Invoice */
#jamaah_invoice .bio,
#admin .bio {
    text-align: center;
}
#jamaah_invoice .bio img,
#admin .bio img {
    width: 180px;
}
#jamaah_invoice .bio span,
#admin .bio span {
    background-color: #fff;
    padding: 3px;
    border-radius: 20px;

    right: 28%; bottom: 30%;
    position: absolute;
}
#jamaah_invoice .bio span i,
#admin .bio span i {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}

/* Accordion Data Info */
#jamaah_invoice .card .panel-group {
    padding: 25px;
}
#jamaah_invoice .card .panel {
    font-size : 14px;
}
.panel-title {
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
.panel-title::after {
    content: "\f078";
    color: #007bff;
    top: -2px;
    right: 0px;
    position: absolute;
    font-family: "Font Awesome 5 Free"
}
.panel-title[aria-expanded="true"]::after {
    content: "\f077";
}
#jamaah_invoice .card .panel .panel-heading .progress {
    height: 10px;
    border-radius: 20px;
}
#jamaah_invoice .card .panel .panel-heading .progress .progress-bar span {
    position: absolute;
    right: 40px;
    color: #002C6C;
}

#jamaah_invoice .card .panel .panel-body img {
    width: 30px;
}
#jamaah_invoice .card .panel .panel-body ul li a {
    position: absolute;
    right: 10px;
    bottom: 18px;
}
#jamaah_invoice .card .panel .panel-body ul li a i {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
#jamaah_invoice .card .panel .panel-body ul li {
    padding: 20px 0 10px;
    color: #007bff;
}
#jamaah_invoice .card .panel .panel-body ul li:last-child {
    padding-bottom: 0;
}

/* ========= */
/* Packages */
/* ========= */
#packages div.head div.col div button.btn-new-package,
.testimoni .btn-new-testimoni,
#more div.col button.btn-add {
    font-weight: 500;
    background-color: #2689ff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 50px;
}
#packages div.head div.col div button.btn-new-package span:nth-child(1),
.testimoni .btn-new-testimoni span:nth-child(1),
#more div.col button.btn-add span:nth-child(1) {
    font-size: 12px;
    padding: 8px;
    border-radius: 50%;
    background: #1e7dee;
    position: relative;
}
#packages div.head div.col div button.btn-new-package span:nth-child(2) {
    font-size: 16px;
    margin-left: 5px;
}
#packages div.head div.col div button.btn-new-package:hover {
    color: #fff;
}
div.about-package div.row ul,
div.more div.row ul {
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 20px 20px 0 0;
}

/* Jamaah Package */
#jamaah_package .tab-content div.float-right button {
    padding: 10px 30px;
    border-radius: 20px;
}
#jamaah_package .tab-content .about-pack .card {
    border: none;
    padding: 0;
}
#jamaah_package .tab-content .about-pack .card img {
    border-radius: 10px;
}
#jamaah_package .tab-content .about-pack .card .card-text {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;

    float: right;
}
#jamaah_package .tab-content .about-pack .card .card-text .dots {
    margin-right: 5px;
    display: inline-block;
    position: static;
}
#jamaah_package .tab-content .about-pack div.row div.detail table tr {
    border-bottom: 1px solid #eee;
}
#jamaah_package .tab-content .about-pack div.row div.detail table tr:last-child {
    border: none;
}
#jamaah_package .tab-content .about-pack div.row div.detail table tr td {
    font-weight: normal;
    padding-left: 0; padding-right: 0;
}
#jamaah_package .tab-content .about-pack div.row div.detail table tr td:last-child {
    font-weight: 600;
    float: right;
}
#jamaah_package .tab-content .table-itinerary table thead tr th {
    font-weight: normal;
    color: #777;
}
#jamaah_package .tab-content .table-itinerary table tbody tr td,
#more .tab-content table tbody td {
    font-weight: 500;
    font-size: 14px;
    color: #222;
    padding: 30px 25px;
}
#jamaah_package .tab-content .table-itinerary table.itinerary tbody tr td:nth-child(2) {
    width: 250px;
}
#jamaah_package .tab-content .table-itinerary table.itinerary tbody tr td:last-child {
    font-weight: normal;
    color: #444;
}
#jamaah_package .tab-content .table-itinerary table.transport tbody tr td {
    font-size: 14px;
    padding: 20px 10px;
}
#jamaah_package .tab-content .table-itinerary table.transport tbody tr td:nth-child(8),
#jamaah_package .tab-content .table-itinerary table.transport tbody tr td:nth-child(9) {
    text-align: center;
}
#jamaah_package .tab-content .table-itinerary table tbody tr td div.media img {
    background-color: #fff;
    margin-right: 10px;
    width: 30px;
    border-radius: 50px;
}
#jamaah_package .tab-content .rooms div ul {
    background-color: transparent;
    margin: 0 15px;
}
#user_invoice div.card.jamaah_invoice div.card-header span.status a,
#jamaah_package .tab-content #jamaah_invoice a,
#admin .card div.float-right a {
    font-weight: normal;
    color: #007bff;
}
#jamaah_package .tab-content #variant_package .card-header small {
    color: red;
}
#jamaah_package .tab-content #variant_package .card-header {
    height: 70px;
}
#variant_package div.card div.card-header span.float-right a span {
    background-color: #007bff;
    color: #fff;
}
#variant_package div.card div.card-header span.float-right a span.disabled {
    background-color: #ddd;
    color: #fff;
}
#jamaah_package .tab-content #variant_package .card-body {
    padding-top: 15px;
}
#jamaah_package .tab-content #variant_package .card-body .media span.delete {
    font-size: 10px;
    background-color: red;
    color: #fff;
    padding: 5px 6px;

    border-radius: 50px;
    top: 10px; left: -5px;
    position: absolute;
}
#jamaah_package .tab-content #variant_package .jamaah_invoice .jamaah img {
    width: 40px;
}
#jamaah_package .tab-content #variant_package .jamaah_invoice .jamaah {
    padding: 15px 0;
}
#jamaah_package .tab-content #variant_package .jamaah_invoice .jamaah h5 {
    position: relative;
    top: 10px;
}
#jamaah_package .tab-content #variant_package .jamaah_invoice .jamaah i {
    color: #007bff;
    right: 0; top: 30px;
    position: absolute;
}

/* ====== */
/* Artikel */
/* ====== */
.artikel div.row div.col-sm-3 div.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}
.artikel div.row button.btn-artikel,
.admin div.row button.btn-admin {
    font-weight: 500;
    background-color: #2689ff;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;

    position: static;
}
.artikel div.row button.btn-artikel span:nth-child(1),
.admin div.row button.btn-admin span:nth-child(1) {
    background-color: #007bff;
    padding: 5px;
    border-radius: 20px;
}
.artikel div.row button.btn-artikel span:nth-child(2),
.admin div.row button.btn-admin span:nth-child(2) {
    padding-left: 10px;
}
.artikel .card {
    min-height: 370px;
}
.artikel .card-body {
    height: 100%;
}
.artikel .card strong {
    font-size: 12px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;

    right: 10%; top: 145px;
    position: absolute;
}
.artikel .card strong span.dots {
    display: inline-block;
    position: static;
}
.artikel .card img {
    border-radius: 10px 10px 0 0;
}
.artikel .card .card-body .media {
    bottom: 5%;
    position: absolute;
}
.artikel .card .card-body .media img {
    width: 35px;
    border-radius: 30px;
}
.testimoni .table tbody tr td:nth-child(2) h6 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
}

/* MORE PAGE */
#more div.col button.btn-add span:nth-child(1) {
    margin-right: 5px;
}
div.more div.tab-content div.row div.table-responsive {
    border-radius: 10px;
}
div.more div.tab-content div.row div.table-responsive table tbody tr td h6 strong {
    font-weight: 600;
    color: #555;
}
#more .tab-content table tbody td {
    padding: 20px 25px;
}
#more .tab-content table tbody.bank td:first-child {
    text-align: center;
}
#more .tab-content table tbody.bank td img.avatar {
    width: 30px;
    margin: 0;
    border-radius: 0;
    position: static;
}
#more .tab-content table tbody.legal td img.avatar {
    background-color: #fff;
    width: 40px;
    padding: 5px;
    margin: 0;
    position: static;
}
#more .tab-content table tbody.hotel td img.avatar {
    width: 50px;
    border-radius: 5px;
    position: static;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 768.98px) {
    /* Index */
    .main-report {
        border-radius: 15px;
        padding: 20px;
        width: 70%;
    }
    .main-report h1 {
        font-size: 30px;
    }
    .main-report span.dots {
        top: 3px;
        right: 20px;
    }
    div.packages div.card div.card-header,
    div.packages div.card div.card-body {
        padding: 5px;
    }
    div.packages div.card div.card-header span {
        font-size: 12px;
    }
    div.packages div.card div.card-body h3.card-title {
        font-size: 18px;
    }
    div.packages div.card div.card-body p {
        font-size: 12px;
        font-weight: 500;
    }
    div.packages div.card div.card-body div.price h4 {
        font-size: 18px;
        margin: 0;
    }

    /* Invoice */
    div.new-invoices div.tab-content div.row div.table-responsive,
    div.about-package div.tab-content div.row div.table-responsive,
    div.new-payment div.tab-content div.row div.table-responsive,
    div.more div.tab-content div.row div.table-responsive{
        border-radius: 0 0 10px;
    }
    div.new-invoices div.tab-content div.row div.table-responsive a {
        font-size: 12px;
    }

    /* User Invoice */
    div#user_invoice div.row div.col-auto,
    div#user_invoice div.row div.col-sm,
    div#user_invoice div.row div.col-sm-7 {
        padding: 0;
    }
    #user_invoice nav.address_page .breadcrumb-item,
    #jamaah_invoice nav.address_page .breadcrumb-item,
    #jamaah_package nav.address_page .breadcrumb-item,
    #more nav.address_page .breadcrumb-item{
        font-size: 12px;
        padding-top: 12px;
    }
    .invoice_user_package .card-body .invoice {
        margin-bottom: 20px;
    }

    /* Packages */
    div.packages div.row:nth-child(2) div.col-sm-4 {
        flex: none;
    }

    /* About Package */
    #jamaah_package div.about-pack div.title {
        margin-top: 30px;
    }
    #jamaah_package div.about-pack div.title h2 {
        font-size: 24px;
    }
    #jamaah_package .tab-content div.rooms {
        padding: 0;
    }
    #jamaah_package .tab-content div.rooms div.float-right {
        margin-bottom: 20px;
    }
    #jamaah_package .tab-content div.rooms div.float-right button {
        padding: 10px 20px;
    }
    #jamaah_package .tab-content div.rooms div.float-right ul li {
        margin: 0;
    }

    /* Artikel */
    .artikel div.row div.col-sm-3 div.card {
        min-height: 410px;
    }
    .artikel div.row div.col-sm-3 div.card strong {
        font-size: 16px;
        font-weight: 600;
        top: 50%;
        border-radius: 5px 6px 0 0;
    }
}

@media (max-width: 575.98px) {
    /* Index */
    #dashboard div.row div.col.status {
        padding: 0;
    }
    .main-report {
        width: 100%;
    }
    .main-report h1 {
        font-size: 30px;
    }
    .main-report span.dots {
        top: 3px;
        right: 10px;
    }

    /* User Invoice */
    div div.row div.col-auto,
    div div.row div.col-sm,
    div div.row div.col-sm-4,
    div div.row div.col-sm-7 {
        padding: 0;
    }
}
